<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments :: head"></th:block>
    <title>Best Movies</title>
</head>
<body>
    <div class="d-flex flex-column align-items-center">
        <nav th:replace="fragments :: navbar"></nav>

        <h2 class="mt-3">
            Best songs
        </h2>

        <ul class="list-group">
            <li th:each="movie : ${movies}" class="list-group-item list-group-item-action list-group-item-info">
                <a th:href="@{/movies/{id}(id=${movie.id})}" class="link-underline link-underline-opacity-0">
                    [[${movie.title}]]
                </a>
            </li>
        </ul>

        <a th:href="@{/}" class="btn btn-primary mt-2">Back</a>
    </div>
</body>
</html>